# --- 监控配置 ---
# 监控商品链接，多个链接用英文分号 (;) 分开
WHMCS_URLS=""
# 监控频率，单位秒，默认一分钟一次 (60)
WHMCS_INTERVAL=60
# 是否打印详细日志
WHMCS_LOGS=true

# --- 代理配置 (选填) ---
# 支持 http/https/socks5 等多种协议的代理地址，例如: http://127.0.0.1:7890 或 socks5://127.0.0.1:1080
# WHMCS_PROXY=""
# FlareSolverr 服务的 API 地址，例如: http://localhost:8191/v1
# FLARESOLVERR_URL=""

# --- 推送通知配置 (选填，具体变量及配置请参考 sendNotify.js) ---
# 通知环境变量
# 0. 启用一言（随机句子）
HITOKOTO="false"

# 1. Server酱
# https://sct.ftqq.com/r/13363
# 下方填写 SCHKEY 值或 SendKey 值
PUSH_KEY=""

# 2. BARK
# 下方填写app提供的设备码，例如：https://api.day.app/123 那么此处的设备码就是123
BARK_PUSH=""
# 下方填写推送图标设置，自定义推送图标(需iOS15或以上)
BARK_ICON=""
# 下方填写推送声音设置，例如choo，具体值请在bark-推送铃声-查看所有铃声
BARK_SOUND=""
# 下方填写推送消息分组，默认为"QingLong"
BARK_GROUP="QingLong"
# bark 推送时效性
BARK_LEVEL="active"
# bark 推送是否存档
BARK_ARCHIVE=""
# bark 推送跳转 URL
BARK_URL=""

# 3. Telegram
# 下方填写自己申请@BotFather的Token，如10xxx4:AAFcqxxxxgER5uw
TG_BOT_TOKEN=""
# 下方填写 @getuseridbot 中获取到的纯数字ID
TG_USER_ID=""
# Telegram 代理IP（选填）
# 下方填写代理IP地址，代理类型为 http，比如您代理是 http://127.0.0.1:1080，则填写 "127.0.0.1"
# 如需使用，请自行解除下一行的注释
TG_PROXY_HOST=""
# Telegram 代理端口（选填）
# 下方填写代理端口号，代理类型为 http，比如您代理是 http://127.0.0.1:1080，则填写 "1080"
# 如需使用，请自行解除下一行的注释
TG_PROXY_PORT=""
# Telegram 代理的认证参数（选填）
TG_PROXY_AUTH=""
# Telegram api自建反向代理地址（选填）
# 教程：https://www.hostloc.com/thread-805441-1-1.html
# 如反向代理地址 http://aaa.bbb.ccc 则填写 aaa.bbb.ccc
# 如需使用，请赋值代理地址链接，并自行解除下一行的注释
TG_API_HOST=""

# 4. 钉钉
# 官方文档：https://developers.dingtalk.com/document/app/custom-robot-access
# 下方填写token后面的内容，只需 https://oapi.dingtalk.com/robot/send?access_token=XXX 等于=符号后面的XXX即可
DD_BOT_TOKEN=""
DD_BOT_SECRET=""

# 企业微信反向代理地址
# (环境变量名 QYWX_ORIGIN)
QYWX_ORIGIN=""

# 5. 企业微信机器人
# 官方说明文档：https://work.weixin.qq.com/api/doc/90000/90136/91770
# 下方填写密钥，企业微信推送 webhook 后面的 key
QYWX_KEY=""

# 6. 企业微信应用
# 参考文档：http://note.youdao.com/s/HMiudGkb
# 下方填写素材库图片id（corpid,corpsecret,touser,agentid），素材库图片填0为图文消息, 填1为纯文本消息
QYWX_AM=""

# 7. iGot聚合
# 参考文档：https://wahao.github.io/Bark-MP-helper
# 下方填写iGot的推送key，支持多方式推送，确保消息可达
IGOT_PUSH_KEY=""

# 8. Push Plus
# 官方网站：http://www.pushplus.plus
# 下方填写您的Token，微信扫码登录后一对一推送或一对多推送下面的token，只填 PUSH_PLUS_TOKEN 默认为一对一推送
PUSH_PLUS_TOKEN=""
# 一对一多推送（选填）
# 下方填写您的一对多推送的 "群组编码" ，（一对多推送下面->您的群组(如无则新建)->群组编码）
# 1. 需订阅者扫描二维码 2、如果您是创建群组所属人，也需点击“查看二维码”扫描绑定，否则不能接受群组消息推送
PUSH_PLUS_USER=""
# 发送模板，支持html,txt,json,markdown,cloudMonitor,jenkins,route,pay
PUSH_PLUS_TEMPLATE="html"
# 发送渠道，支持wechat,webhook,cp,mail,sms
PUSH_PLUS_CHANNEL="wechat"
# webhook编码，可在pushplus公众号上扩展配置出更多渠道
PUSH_PLUS_WEBHOOK=""
# 发送结果回调地址，会把推送最终结果通知到这个地址上
PUSH_PLUS_CALLBACKURL=""
# 好友令牌，微信公众号渠道填写好友令牌，企业微信渠道填写企业微信用户id
PUSH_PLUS_TO=""

# 9. 微加机器人
# 官方网站：http://www.weplusbot.com
# 下方填写您的Token；微信扫描登录后在"我的"->"设置"->"令牌"中获取
WE_PLUS_BOT_TOKEN=""
# 消息接收人；
# 个人版填写接收消息的群编码，不填发送给自己的微信号
# 专业版不填默认发给机器人自己，发送给好友填写wxid，发送给微信群填写群编码
WE_PLUS_BOT_RECEIVER=""
# 调用版本；分为专业版和个人版，专业版填写pro，个人版填写personal
WE_PLUS_BOT_VERSION="pro"

# 10. go-cqhttp
# gobot_url 推送到个人QQ: http://127.0.0.1/send_private_msg  群：http://127.0.0.1/send_group_msg
# gobot_token 填写在go-cqhttp文件设置的访问密钥
# gobot_qq 如果GOBOT_URL设置 /send_private_msg 则需要填入 user_id=个人QQ 相反如果是 /send_group_msg 则需要填入 group_id=QQ群
# go-cqhttp相关API https://docs.go-cqhttp.org/api
GOBOT_URL=""
GOBOT_TOKEN=""
GOBOT_QQ=""

# 11. gotify
# gotify_url 填写gotify地址,如https://push.example.de:8080
# gotify_token 填写gotify的消息应用token
# gotify_priority 填写推送消息优先级,默认为0
GOTIFY_URL=""
GOTIFY_TOKEN=""
GOTIFY_PRIORITY=0

# 12. PushDeer
# deer_key 填写PushDeer的key
DEER_KEY=""

# 13. Chat
# chat_url 填写synology chat地址，http://IP:PORT/webapi/***token=
# chat_token 填写后面的token
CHAT_URL=""
CHAT_TOKEN=""

# 14. aibotk
# 官方说明文档：http://wechat.aibotk.com/oapi/oapi?from=ql
# aibotk_key (必填)填写智能微秘书个人中心的apikey
AIBOTK_KEY=""
# aibotk_type (必填)填写发送的目标 room 或 contact, 填其他的不生效
AIBOTK_TYPE=""
# aibotk_name (必填)填写群名或用户昵称，和上面的type类型要对应
AIBOTK_NAME=""

# 15. CHRONOCAT
# CHRONOCAT_URL 推送 http://127.0.0.1:16530
# CHRONOCAT_TOKEN 填写在CHRONOCAT文件生成的访问密钥
# CHRONOCAT_QQ 个人:user_id=个人QQ 群则填入group_id=QQ群 多个用英文;隔开同时支持个人和群 如：user_id=xxx;group_id=xxxx;group_id=xxxxx
# CHRONOCAT相关API https://chronocat.vercel.app/install/docker/official/
CHRONOCAT_URL=""
CHRONOCAT_QQ=""
CHRONOCAT_TOKEN=""

# 16. SMTP
# JavaScript 参数
# 邮箱服务名称，比如126、163、Gmail、QQ等，支持列表 https://github.com/nodemailer/nodemailer/blob/master/lib/well-known/services.json
SMTP_SERVICE=""

# Python 参数
# SMTP 发送邮件服务器，形如 smtp.exmail.qq.com:465
SMTP_SERVER=""
# SMTP 发送邮件服务器是否使用 SSL，填写 true 或 false
SMTP_SSL=""

# smtp_email 填写 SMTP 收发件邮箱，通知将会由自己发给自己
SMTP_EMAIL=""
# smtp_password 填写 SMTP 登录密码，也可能为特殊口令，视具体邮件服务商说明而定
SMTP_PASSWORD=""
# smtp_name 填写 SMTP 收发件人姓名，可随意填写
SMTP_NAME=""

# 17. PushMe
# 官方说明文档：https://push.i-i.me/
# PUSHME_KEY (必填)填写PushMe APP上获取的push_key
# PUSHME_URL (选填)填写自建的PushMeServer消息服务接口地址，例如：http://127.0.0.1:3010，不填则使用官方接口服务
PUSHME_KEY=""
PUSHME_URL=""

# 18. 飞书机器人
# 官方文档：https://www.feishu.cn/hc/zh-CN/articles/360024984973
# FSKEY 飞书机器人的 FSKEY
FSKEY=""

# 19. Qmsg酱
# 官方文档：https://qmsg.zendee.cn/docs/api/
# qmsg 酱的 QMSG_KEY
# qmsg 酱的 QMSG_TYPE send 为私聊，group 为群聊
QMSG_KEY=""
QMSG_TYPE=""

# 20.Ntfy
# 官方文档: https://docs.ntfy.sh
# ntfy_url 填写ntfy地址,如https://ntfy.sh
# ntfy_topic 填写ntfy的消息应用topic
# ntfy_priority 填写推送消息优先级,默认为3
# ntfy_token 填写推送token,可选
# ntfy_username 填写推送用户名称,可选
# ntfy_password 填写推送用户密码,可选
# ntfy_actions 填写推送用户动作,可选
NTFY_URL=""
NTFY_TOPIC=""
NTFY_PRIORITY="3"
NTFY_TOKEN=""
NTFY_USERNAME=""
NTFY_PASSWORD=""
NTFY_ACTIONS=""

# 21. wxPusher
# 官方文档: https://wxpusher.zjiecode.com/docs/
# 管理后台: https://wxpusher.zjiecode.com/admin/
# wxPusher 的 appToken
WXPUSHER_APP_TOKEN=""
# wxPusher 的 topicIds，多个用英文分号;分隔 topic_ids 与 uids 至少配置一个才行
WXPUSHER_TOPIC_IDS=""
# wxPusher 的 用户ID，多个用英文分号;分隔 topic_ids 与 uids 至少配置一个才行
WXPUSHER_UIDS=""

# 22. 自定义通知
# 自定义通知 接收回调的URL
WEBHOOK_URL=""
# WEBHOOK_BODY 和 WEBHOOK_HEADERS 多个参数时，直接换行或者使用 $'\n' 连接多行字符串，比如 dd="line 1"$'\n'"line 2"
WEBHOOK_BODY=""
WEBHOOK_HEADERS=""
# 支持 GET/POST/PUT
WEBHOOK_METHOD=""
# 支持 text/plain、application/json、multipart/form-data、application/x-www-form-urlencoded
WEBHOOK_CONTENT_TYPE=""
